/*
 Name: Just Another Tic Tac Toe Game
 Created by Alvison Hunter for mentoring and educational purposes only.
 Date: May 22nd, 2024
 */

/* CSS Reset */
html, body, div, span, h1, p, a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Initial Css Styling Setup For Body */
body {
    line-height: 1;
    background-color: #031111;
    background-image: url('./assets/tictactocbg.png');
    margin: 0 auto;
    color: #38b4b4;
}

/* Main Wrapper Css Styling */
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

/* Game Title Css Styling */
.game-title {
    font-size: 25px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

/* Game Grid Display Css Styling */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-gap: 14px;
    margin: 20px auto;
}

/* Individual Cells General Css Styling Setup */
.cell {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    border: 2px solid #38b4b4;
    cursor: pointer;
    color: #0d1a1a;
    pointer-events: auto;
}

.disabled-cell {
    background-color: #707c82;
    border: 2px solid #0d1a1a;
    background-image: none;
}

/* Players Css Styling And Game Color Enhancements */
.player-x-bg {
    background-color: #174d4d;
    color: #38b4b4;
}

.player-o-bg {
    background-color: #38b4b4;
    color: #0d1a1a;
}

.player-x-bg,
.player-o-bg {
    background-image: url(./assets/ply01.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

/* Disable remaining cells if game is over */
.target-disabled {
    pointer-events: none;
    background-color: #0d1a1a;
}

.reset-btn {
    background-color: #38b4b4;
    color: #0d1a1a;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.4s ease;
    margin-top: 12px;
}

.reset-btn:hover {
    background-color: transparent;
    border: 1px solid #38b4b4;
    color: #38b4b4;
}

input[type="button"]:disabled {
    background-color: grey;
    color: white;
    cursor: not-allowed;
    border: 1px solid #ccc;
}

/* Winning Label Css Styling */
.hidden {
    display: none;
}

.winner {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    color: #859d9d;
}

/* Footer Styling */
.footer {
    background-color: #174d4d;
    color: #38b4b4;
    padding: 10px 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #465959;
}

.footer p {
    margin: 0;
    font-size: 0.9rem;
    color: #38b4b4;
}

.footer a {
    color: #38b4b4;
    text-decoration: none;
    margin: 0 5px;
    text-transform: uppercase;
}

.footer a:hover {
    color: #2c9090;
}